name: Redis
version: 1.0.0
slug: redis
description: Redis add-on by Community Home Assistant Add-ons
url: https://github.com/pedrol3001/addon-redis
codenotary: contact@pedrol.me
init: false
arch:
- aarch64
- amd64
ports:
  6379/tcp: 6379
ports_description:
  6379/tcp: Redis port
map:
- ssl
options:
  ssl: false
  certfile: fullchain.pem
  keyfile: privkey.pem
schema:
  ssl: bool
  certfile: str
  keyfile: str
  db_password: str?
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
image: ghcr.io/pedrol3001/redis/{arch}
